<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
  <server>
    <id>gory-gory</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

  <profiles>
  <profile>
    <id>gory-gory</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>gory-gory</id>
        <url>https://gory-842675983046.d.codeartifact.us-east-1.amazonaws.com/maven/gory/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
  

   <mirrors>
  <mirror>
    <id>gory-gory</id>
    <name>gory-gory</name>
    <url>https://gory-842675983046.d.codeartifact.us-east-1.amazonaws.com/maven/gory/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
